<app-page-header title="List of Retailers" subtitle="Manage your existing retailers">
  <p-button label="Import" icon="pi pi-download" [outlined]="true" />
  <p-button label="Add Retailer" icon="pi pi-plus" routerLink="/app/retailers/add" />
</app-page-header>

<div class="card p-6">
  <div class="flex justify-end mb-5">
    <p-iconfield>
      <p-inputicon class="pi pi-search" />
      <input pInputText type="text" placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" />
    </p-iconfield>
  </div>

  <p-table [value]="loading ? skeletonRows : filteredRetailers">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-retailer>
      <tr>
        <td>
          <p-skeleton *ngIf="loading" width="70%" height="1rem" />
          <ng-container *ngIf="!loading">{{ retailer.name }}</ng-container>
        </td>
        <td>
          <p-skeleton *ngIf="loading" height="1rem" />
          <ng-container *ngIf="!loading">{{ retailer.location }}</ng-container>
        </td>
        <td>
          <p-skeleton *ngIf="loading" width="6rem" height="1rem" />
          <ng-container *ngIf="!loading">{{ retailer.phoneNumber }}</ng-container>
        </td>
        <td class="text-right">
          <p-skeleton *ngIf="loading" shape="circle" size="1.5rem" styleClass="ml-auto" />
          <p-button *ngIf="!loading" icon="pi pi-ellipsis-v" [text]="true" severity="secondary" [rounded]="true"
                    (onClick)="openMenu($event, rowMenu, retailer)" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="empty-state-rich">
          <span class="empty-title">No retailers yet</span>
          <span class="empty-hint">Retailers you add or import will appear here</span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-end mt-6" *ngIf="retailerTotal > 0">
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="retailerTotal"
      [first]="first"
      [showFirstLastIcon]="false"
      (onPageChange)="onPageChange($event)">
      <ng-template #previouspagelink><span class="text-sm">&#8249; Prev</span></ng-template>
      <ng-template #nextpagelink><span class="text-sm">Next &#8250;</span></ng-template>
    </p-paginator>
  </div>
</div>

<p-menu #rowMenu [popup]="true" [model]="menuItems" appendTo="body" />

<app-retailer-view-modal
  *ngIf="viewingRetailer"
  [retailer]="viewingRetailer"
  (close)="viewingRetailer = null"
/>
